// eslint의 규칙 정의
{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module", // import export를 의미
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:react/recommended",
        "prettier/typescript-eslint",
        "plguin:prettier/recommended"
    ],
    "plugins": ["@typescript-eslint", "import", "react-hooks"],
    "rules": {
        // Place to specify ESLint rules. Can be used to overwrite rules specified from the extended configs
        // e.g. "@typescript-eslint/explicit-function-return-type": "off",
    }
}